<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href={{ get_url(path="css/style.css" ) }}>
  <title> Anshuman Mohan </title>
  <link rel="icon" href={{ get_url(path="img/favicon.png" )}} type="image/png">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

  <meta property="description"
    content="I am a third-year PhD student at Cornell University. My research is in programming languages." />
  <meta name="keywords" content="programming languages,
                   garbage collection,
                   Coq, Ocaml, compiler,
                   formal, verification,
                   Cornell, Yale-NUS">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Anshuman Mohan" />
  <meta property="og:description"
    content="I am a third-year PhD student at Cornell Computer Science. My research is in programming languages." />
  <meta property="og:image" content={{ get_url(path="img/anshuman-cold-color.jpg" )}} />

  <meta name="google-site-verification" content="gySTzyclhE6IjKzYww9bzeBGUd9ea0D_1P7d8t2EwAs" />

</head>

<body>{% block content %} {% endblock %}</body>

</html>