<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href={{ get_url(path="css/style.css" ) }}>
  <title> CS 6006 </title>
  <link rel="icon" href={{ get_url(path="img/favicon.png" )}} type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="CS 6006" />
  <meta property="og:description" content="A new onboarding course for graduate students at Cornell CS." />

</head>

<body>{% block content %} {% endblock %}</body>

</html>