{% extends "base.html" %}

{% block content %}

<div class="grid">

  <div class="title">
    <p> </p>
  </div>

  <div class="title" id="name">
    <p style="text-align: left">
      <a style="color: #ff8080" ; href={{ get_url(path="@/front/_index.md" )}}>Anshuman
        Mohan</a> &middot Blog
    </p>
  </div>

</div>


{% for page in section.pages %}

<div class="grid">

  <div class="info">
    <p class="papername" id="{{ page.slug }}">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </p>
    <p> {{ page.description }} </p>
  </div>
  <div class="blurb">
    {{ page.content | safe }}
  </div>
</div>

{% endfor %}



{% endblock content %}