{% extends "base.html" %}

{% block content %}

<div class="grid">

  <div class="title">
    <p> </p>
  </div>

  <div class="title" id="name">
    <p style="text-align: left">
      <a style="color: #ff8080" ; href={{ get_url(path="@/front/_index.md" )}}>Anshuman
        Mohan</a> &middot <a style="color: #ff8080" ; href={{ get_url(path="@/blog/_index.md" )}}>Blog</a>
    </p>
  </div>

</div>


<div class="gridblog">
  <p class="papername"> {{ page.title }} </p>
  <p><em> {{ page.description }} </em></p>
  {{ page.content | safe }}
</div>

{% endblock content %}