{% extends "base.html" %}

{% block content %}

<div class="grid">

  <div class="title" id="title">
    <p style="text-align: left"> Blog </p>
  </div>

  <div class="title" id="title">
    <p style="text-align: right">
      <a style="color: #ff8080" ; href={{ get_url(path="@/front/_index.md" )}}>Home</a>
    </p>
  </div>

</div>

<br><br>

{% for page in section.pages %}

<div class="gridblog">

  <div class="info">
  </div>
  <div class="blurb">
    {{ page.extra.prettydate }} <br>
    <span class="papername" id="{{ page.slug }}">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </span>
    <br>
    <em> {{ page.description }} </em>
  </div>
  <br>
</div>

{% endfor %}



{% endblock content %}