{% extends "base.html" %}

{% block content %}

<div class="grid">

  <div class="title">
    <p style="text-align: left"> CS 6001 <br> Fall 2023 </p>
  </div>

  <div class="title">
    <p style="text-align: right">
      <a style="color: #ff8080" ; href={{ get_url(path="@/front/_index.md" )}}>Home</a>
    </p>
  </div>

</div>

<div class="grid">

  <div class="title info">
    <p> Essentials</p>
  </div>

  <div class="title blurb">
    <p> </p>
  </div>

  <div class="blog info papername">
    <p>Instructors</p>
  </div>

  <div class="blog blurb">
    <p> Jacqueline Maasch &middot; New York &middot; maasch&#9424cs.cornell.edu <br>
      <a href="https://www.cs.cornell.edu/~amohan/">Anshuman Mohan</a> &middot; Ithaca &middot;
      amohan&#9424cs.cornell.edu
    </p>
  </div>

  <div class="blog info papername">
    <p>When and where</p>
  </div>

  <div class="blog blurb">
    <p> Mondays, 12:20pm - 1:10pm <br>
      Ithaca: Gates 310 <br>
      New York: Bloomberg 497 </p>
  </div>

  <div class="blog info papername">
    <p>Credits and grading</p>
  </div>

  <div class="blog blurb">
    <p> One credit; available with an S/U option only</p>
  </div>
</div>


<div class="grid">

  <div class="title info">
    <p> Tentative Schedule</p>
  </div>

  <div class="title blurb">
    <p> </p>
  </div>
</div>


{% for page in section.pages | reverse %}

<div class="grid">

  <div class=" info">
    <p> {{ page.extra.prettydate }} </p>
  </div>

  <div class="papername blurb">
    <p> <span class="" id="{{ page.slug }}">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </span> </p>
  </div>
</div>


{% endfor %}

<br><br><br><br>

{% endblock content %}