{% extends "base.html" %}

{% block content %}

<div class="gridtitle">

  <div class="title">
    <p style="text-align: left"> CS 6006: Succeeding in the Graduate Environment </p>
  </div>

  <div class="title">
    <p style="text-align: right"> <a style="color: #ff8080" ; href="https://www.cs.cornell.edu/">Cornell CS</a> <br>
      Fall 2023 </p>
  </div>

</div>

<div class="grid">

  <div class="info title">
    <p> Essentials</p>
  </div>

  <div></div>

  <div class="info subheading">
    <p>Instructor</p>
  </div>

  <div>
    <p> <a href="https://www.cs.cornell.edu/~amohan/">Anshuman Mohan</a> &middot; amohan&#9424cs.cornell.edu
    </p>
  </div>

  <div class="info subheading">
    <p>When and where</p>
  </div>

  <div>
    <p> Mondays, 12:20pm - 1:10pm <br>
      Ithaca: Gates 310 <br>
      New York: Bloomberg 497 </p>
  </div>

  <div class="info subheading">
    <p>Office Hours</p>
  </div>

  <div>
    <p> Fridays, 9-10am &middot; Gates 341 and on Zoom </p>
  </div>

  <div class="info subheading">
    <p>Credits and grading</p>
  </div>

  <div>
    <p> One credit; available with an S/U option only</p>
  </div>

  <div class="info subheading">
    <p>Resources</p>
  </div>

  <div>
    <p> <a href={{ get_url(path="@/resources/resources.md" )}}>
        Resources you may find useful all semester</a>
    </p>
  </div>

  <div class="info subheading">
    <p>Suggested readings</p>
  </div>

  <div>
    <p> <a href={{ get_url(path="@/readings/readings.md" )}}>
        Readings on the graduate experience in engineering fields </a>
    </p>
  </div>

  <div class="info subheading">
    <p>Development</p>
  </div>

  <div>
    <p> This course was developed in the summer of 2023 by <br>
      Jacqueline Maasch (at Cornell Tech; maasch&#9424cs.cornell.edu) and Anshuman <br>
    </p>
  </div>

  <br><br><br>
</div>


<div class="grid">

  <div class="title info">
    <p> Schedule </p>
  </div>

  <div></div>
</div>



<div class="grid">
  {% for page in section.pages | reverse %}


  <div class="info">
    <p> {{ page.extra.prettydate }} </p>
  </div>

  <div>
    <span class="subheading" id="{{ page.slug }}">
      {% if page.extra.link_to_page %}
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      {% elif page.extra.link_to_admin %}
      <a href={{ get_url(path="slides/admin.pdf" )}}>{{ page.title }}</a>
      {% else %}
      {{ page.title }}
      {% endif %}
    </span> <br>
    <em> {{ page.extra.presenter }} </em> </span>

  </div>


  {% endfor %}
</div>

<br><br><br><br><br>

{% endblock content %}