{% extends "base.html" %}

{% block content %}

<div class="grid">

  <div class="title">
    <p style="text-align: left"> CS 6001 </p>
  </div>

  <div class="title">
    <p style="text-align: right"> Fall 2023 </p>
  </div>

</div>

<div class="grid">

  <div class="info title">
    <p> Essentials</p>
  </div>

  <div></div>

  <div class="info subheading">
    <p>Instructors</p>
  </div>

  <div>
    <p> Jacqueline Maasch &middot; New York &middot; maasch&#9424cs.cornell.edu <br>
      <a href="https://www.cs.cornell.edu/~amohan/">Anshuman Mohan</a> &middot; Ithaca &middot;
      amohan&#9424cs.cornell.edu
    </p>
  </div>

  <div class="info subheading">
    <p>When and where</p>
  </div>

  <div>
    <p> Mondays, 12:20pm - 1:10pm <br>
      Ithaca: Gates 310 <br>
      New York: Bloomberg 497 </p>
  </div>

  <div class="info subheading">
    <p>Credits and grading</p>
  </div>

  <div>
    <p> One credit; available with an S/U option only</p>
  </div>
</div>


<div class="grid">

  <div class="title info">
    <p> Tentative Schedule </p>
  </div>

  <div></div>
</div>



<div class="grid">
  {% for page in section.pages | reverse %}


  <div class=" info">
    <p> {{ page.extra.prettydate }} </p>
  </div>

  <div class="subheading">
    <p> <span id="{{ page.slug }}">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <!-- Once we have descriptions in the lesson files,
             we can display them here using `page.description`. -->
      </span> </p>
  </div>

  {% endfor %}
</div>

{% endblock content %}